<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{%static "css/tnews.css" %}" >
</head>
<body>
<h1>Tabbu Movie News Information.... HEADLINES OF TODAY </h1><hr>
<ul>
    <li>{{news1 | upper}}</li>
    <li>{{news2 | lower}}</li>
    <li>{{news3 | title}}</li>
    <li>{{news4}}</li>
</ul>
<img src="{%static "images/kha.jpg"  %}">
</body>
</html>